@import '../index';

.calendar-header {
    padding: 10px 0;
    background: $white;
}

.calendar-weekday {
    width: #{100% / 7};
    display: inline-block;
    text-align: center;
    /* border: solid 1px #ddd; */
    font-size: 1.1rem;
    padding: 10px 0;
}

.calendar-day {
    width: #{100% / 7};
    display: inline-block;
    text-align: center;
}
