@import '../index';

.calendar-header {
    padding: 10px 0;
    background: $light-gray;
}

.calendar-weekdays-container {
    font-size: 1.1rem;
    padding: 10px 0;
}

.calendar-weekday {
    width: #{100% / 7};
    display: inline-block;
    text-align: center;
    color: lighten($body-color, 20%);
}

.calendar-day {
    width: #{100% / 7};
    display: inline-block;
    text-align: center;
}

.calendar-day-padding {
    color: lighten($body-color, 40%);
}
