@import '../index';

.calendar-header {
    padding: 10px 0;
}

.calendar-arrows {
    font-size: 1.2rem;
}

.calendar-weekdays-container {
    font-size: 1.1rem;
    padding: 10px 0;
}

.calendar-weekday {
    width: #{100% / 7};
    display: inline-block;
    text-align: center;
    color: rgba($body-color, .7);
    font-size: .7rem;
}

.calendar-day {
    width: #{100% / 7};
    display: inline-block;
    text-align: center;
    padding: 9px 0;
    font-size: 1.2rem;
    line-height: .9;
}

.calendar-day-timing {
    font-size: .6rem;
    display: inline-block;
    color: rgba($body-color, .7);
}

.calendar-day-padding {
    opacity: 0.3;
}
