$background: linear-gradient(135deg, #5f6cff 0%,#6100ff 100%);
$white: #fff;
$black: #000;
$light-gray: #f1f1f1;
$body-color: $white;

body {
    background: $background;
    color: $body-color;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 40px 15px;
}

a, a:hover, a:visited, a:active {
    color: $body-color;
}
