$background: linear-gradient(135deg, #5f6cff 0%,#6100ff 100%);
$white: #fff;
$black: #000;
$light-gray: #f1f1f1;
$body-color: $white;

body {
    background: $background;
    color: $body-color;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 40px 15px;
}

a, a:hover, a:visited, a:active {
    color: $body-color;
}

.button {
    background: rgba($white, .1);
    color: $white;
    border: solid 1px rgba($white, 0.25);
    &:hover,
    &:focus {
        background: rgba($white, .2);
    }
    &:active {
        background: $white;
        color: $black;
    }
}
